.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
  transition: .3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(13, 50, 113, 0.35) 0.5rem 0.5rem 1rem 0px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 .5rem 1rem;
}

.genres,
.info {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

@media(max-width: 550px) {

  .card__description {
    gap: .5rem;
  }

}
