#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
  position: relative;
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  flex: auto;
  padding: 2rem 0;
  margin-top: 3rem;
}

.error {
  min-height: 1rem;
  font-size: .9rem;
  color: rgb(193, 10, 10);
  text-align: left;
}
