.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 10;
  box-shadow: rgba(43, 113, 234, 0.175) 0px 0.5rem 1rem 0px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: .8rem 0;
}
